h1, h2, h3, .input, li {
    text-align: center;
    font-family: 'Bangers', cursive;
    color: black;
}

.columna {
    padding: 0;
    max-width: 100%;
    width: auto;
    height: auto;
}


/* BARRA NAVEGACION */

.nav {
    font-family: 'Bangers', cursive;
    font-size: 45px;
    box-sizing:border-box;
    display:inline-block;
}

.navinside {
    font-size: 30px;
    background-color: black;
    color: white;
    position:absolute;
    width: 27%;
}



ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

ul{
    list-style: none;
    padding: 0px;

}
a:link{
    text-decoration: none!important;
    
}

a {
    align-items: center;
    text-align: center;
}


#title {
    color: black;
    text-decoration: none;
    font-size: 100px;
}

/* TIENDA */
.carousel-item {
    text-align: center;
    width:40%;
    height:40%;
}

.carousel-item > img {
    width:40%;
    height:40%;
  }

  /*  */

.fa-check-square{
	font-size: 5.5rem;
	margin-right: 1rem;
	margin-left: 0.5rem;
}

.fab{
    font-size: 5.5rem;
    color: rgb(0, 0, 0);
}

.music {
    position: absolute;
}


.imgback {
    opacity: 0.7;
}

@media only screen and (max-width: 600px){
    .buynow{
        font-size: 200%;
    }
    #title{
        font-size: 50px;
    }
    .nav{
        font-size: 30px;
    }
    .navinside{
        font-size: 25px;
    }
    .fab{
        font-size: 50px;
    }
    .columna {
        width: auto;
        height: 50%;
    }


}